*{
    margin: 0;
    padding: 0;

}
body{
    box-sizing: border-box;
    
}
.nav{
    flex-basis: 100%;
}

.logo{
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: white;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: inherit;
    background-color:#25623A;
    height: 8vh;
}

main{
    background-color: #E9FFC5;
    height: 100vh;
}

.navbar{
    list-style: none;
    display: flex;
}

nav ul{
    justify-content: space-between;
    gap: 1rem;
    
}

nav ul li a {
    font-size: 1rem;
    padding: 0.45rem 0.8rem;
    border-radius: 0.3rem;
    text-transform: uppercase;
    color: #eee;
    text-decoration: none;
}
nav a:hover{
    background: #408156;
    transition: .5s;
    color: #eee;
    opacity: 0.7;
    text-decoration: none;
 }
 nav a.active{
        background-color: #408156;
        color: #eee;

}

.mobile-menu{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 25vh;
    background-color:#25623A;
    height: 10vh;
    flex-basis: 100%;
    
}

footer ul{
    list-style-type: none;
    display: flex;
    gap: 10vh;  
}

footer div{
    margin: auto 0;
    align-items: center;
}
.direitos{
    display: flex;
    width: 20%;
    color: #eee;
}
.services{
    display: flex;
    
}

.services ul li a{
    color: #eee;
    text-decoration: none;
    list-style: none;
    color: #eee;
    padding: 0.45rem 0.8rem;

}

.services a:hover{
    color: #eee;
    border-radius: 0.3rem;
    background-color: #408156;
    
}

.adress{
    display: flex;
    width: 20%;
    color: #eee;
}



